@font-face {
    font-family: publicsans;
    src: url(/assets/fonts/PublicSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: albertsans;
    src: url(/assets/fonts/AlbertSans-VariableFont_wght.ttf);

}

:root {
    --background: #FDF2F2;
    --btn-color: #d54141;
    --red: red;
    --white: white;
    --black: black;
    --border: #fab0b0;
    --gray: #acadad;
    --click: #F44848;
    --gray-50: #FAFAFC;
    --gray-100: #4d4e4e;
    --outline: #4C9AFF;
}

#side-nav {
    max-width: 20%;
    background-color: var(--white);
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    position: relative;
}

/* minised icons  */
.minimized-side-nav {
    max-width: 5%;
    background-color: var(--white);
    /* row-gap: 74px; */
    display: none;


}

.minimized-icons,
.vertical-icons {
    display: flex;
    flex-direction: column;
}

.minimized-logo {
    justify-content: center;
    display: flex;
}

.minimized-logo img {
    max-width: 1.5rem;
    margin-top: 1.5rem;
    height: 1.5rem;
}

#minimizedHandleLogo {
    position: absolute;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.vertical-icons img {
    max-width: 1.5rem;
    height: 1.5rem;
}

.side-bar {
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo {
    display: flex;
    max-width: 20%;
    gap: 8rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.all {
    margin-top: 3rem;
    padding-left: 1rem;
    color: var(--gray);
}

#tezoLogo {
    max-width: 6rem;
    height: 1.7rem;
    margin-top: 0.5rem;
}

#handle-logo {
    max-width: 2rem;
    height: 2rem;
    margin-left: -2rem;
    position: absolute;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
    margin-top: 1.5rem;
}

#handle-logo img {
    margin-top: 1rem;
    max-width: 1.6rem;
    height: 1.6rem;
}

.dashboard {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: auto;
    padding-left: 1rem;
    margin-top: 1rem;
}

.links {
    text-decoration: none;
    color: var(--gray-100);
}

.roles-user p {
    color: var(--gray);
}

.roles-user {
    margin-top: 2rem;
}

.roles {
    display: flex;
    gap: 0.5rem;
    height: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
}

.role-icon {
    max-width: 1rem;
    height: 1rem;
}

.color {
    background-color: red;
    margin-left: -2rem;
    height: 3rem;
    margin-top: -0.5em;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.color span {
    color: red;
}

#right-arrow {
    padding-left: 6rem;
    height: 1rem;
}

#right-arrow2 {
    padding-left: 3.5rem;
    height: 1rem;
}

.pop-up {
    background-color: var(--background);
    border-radius: 15px;
    border:10px solid white;
    /* height: 8rem; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* margin-right: 0.5rem;
    margin-left: 0.5rem; */
}

.pop-up span {
    color: var(--gray);
}

.pop-up p {
    color: var(--red);
    font-weight: 600;
}

#dismiss {
    color: var(--red);
    cursor: pointer;
}

#accept {
    color: var(--white);
    background: var(--click);
    cursor: pointer;
}

.access-rights {
    display: flex;
    margin-top: 1rem;
    gap: 0.5rem;
    padding-left: 1rem;
}

#role-heading {
    padding-left: 1rem;
}

.btn-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.btn-container button {
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
    max-width: 5rem;
    background: #f3bfbf;
}

/* styling for header */
.header {
    margin-top: 0.5rem;
    display: flex;
}

.header-icon {
    display: flex;
    padding-left: 1rem;

}

.search-bar {
    padding: 1rem;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 7px;
    background-color: var(--white);
    display: flex;
    height: 1.7rem;
    justify-content: space-around;
}

.search-bar input[type="text"] {
    height: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 0.3rem;
    width: 65%;
}

.search-bar input[type="text"]::placeholder {
    color: #C5CBD1;
}

#search {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.3rem;
}

#hamburger-menu {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

#hamburger-menu img {
    width: 1rem;
    height: 1rem;
    margin-top: 0.3rem;

}

.profile {
    display: flex;
    position: relative;
}

.status {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #38e683;
    border: 2px solid white;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.profile-name {
    display: flex;
    padding-left: 0.5rem;
}

#admin {
    font-weight: bold;
}

#down-arrow {
    width: 1rem;
    height: 1rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    cursor: pointer;
}


@media screen and (max-width:900px) {
   
    #side-nav {
        display: none;
        z-index:10;
        /* max-width: 50%; */
    }
    .roles {
        background-color: transparent;
    }

    .minimized-side-nav {
        display: flex;
    }
    #handle-logo{
        z-index:11;
    }
    #handle-logo img{
        transform: rotate(180deg);
        
    }

    .advance-filter {
        flex-direction: column;
    }

    .order-btn {
        margin-top: 1rem;
    }

    .advance-filter-section {
        max-width: 99%;
    }
    
    .table {
        display: block;
    }
    #right-arrow{
        display: none;
    }
    #right-arrow2{
        display: none;
    }
}

@media screen and (max-width:700px){
    #side-nav {
        display: none;
        width:50%;
    }
    .minimized-side-nav {
        display: none;
    }
    #handle-logo{
        margin-left:-1rem;
    }
}