body {
    margin-top: 0;
    font-family: publicsans;
    font-size: 12px;
    display: flex;
    background-color: #FCFCFC;
    gap: 1rem;
}

/* side bar css */
/* minimized role section */
.roles {
    background-color: var(--background);

}

.minimized-roles {
    display: flex;
    gap: 1rem;
    height: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    position: relative;
}



#employee-tag .links {
    margin-left: 0.2rem;
}

.install {
    margin-top: 2rem;
}

/* main content */

/* add-employee */

.roles-employees {
    display: flex;
    gap: 1rem;
    color: var(--gray-100);
    font-weight: 600;
}

#role {
    font-size: 15px;

}

#role a {
    text-decoration: none;
    color: #4d4e4e;
}

#role-right {
    height: 0.6rem;
    width: 0.6rem;
}

.color {
    right: 0;
    position: absolute;
    margin-top: -1rem;
}

.add-employee-box {
    background: var(--click);
    height: 2rem;
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.3rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    color: var(--white);
    cursor: pointer;
    display: flex;
    gap: 0.3rem;
    border: none;
    outline: none;
    font-size: 12px;
}

.all-roles {
    padding-top: 1rem;
    color: var(--gray);
}

#export-icon {
    width: 1rem;
    height: 1rem;


}

.main-section {
    display: flex;
    gap: 1rem;
}

.add-employee {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* role desc */
#role-data {
    font-size: 14px;
    font-weight: 700;
}

.role-desc span {
    color: var(--gray);
    line-height: 1.3rem;
}

/* styling for content of page */

.view-employees {
    height: calc(100vh - 80px);
    overflow: auto;
}

.view-employees::-webkit-scrollbar {
    display: none;
}

.details-section {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.details-card {
    display: flex;
    padding: 1rem;
    background: var(--white);
    gap: 1rem;
    width: 28.5%;
    max-height: 20rem;
    border-radius: 10px;
    border: 1px solid var(--gray);
    /* flex-wrap: wrap; */
}

.employee-card-details {
    display: flex;
}

.employee-card-details img {
    width: 2rem;
    height: 2rem;
}

.employee-name {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.employee-information {
    padding: 0.5rem;
    display: flex;
    margin-top: 0.1rem;
    flex-wrap: wrap;
}

.employee-information span {
    color: #5f6570;
    padding-left: 0.2rem;
}

.view {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    cursor: pointer;

}

.view img {
    width: 1rem;
    height: 1rem;
}

.card-content {
    width: 80%;
}

#emp-name {
    font-weight: 600;
}

.main-content {
    /* display: flex; */
    width: 78%;
    /* position: fixed; */
}

/* add employee form */

.add-role-form {
    /* width:100%; */
    display: none;
    height: calc(100vh - 100px);
    overflow: auto;
}

.add-role-form::-webkit-scrollbar {
    display: none;
}

.add-role-container {
    margin-left: 0.5rem;
    /* width: 100%; */
    width: 45%;
    display: flex;
    flex-direction: column;

}

/* .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.page-heading {
    font-size: 18px;
    font-weight: 400;
    padding-left: 0.5rem;
}

.employee-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.employee-details label {
    font-weight: 500;
}

.employee-details input[type=text] {
    width: 13rem;
    height: 1.5rem;
    outline: none;
    border: 1px solid var(--gray);
    border-radius: 3px;
}

.employee-details select {
    width: 13rem;
    height: 1.9rem;
    border: 1px solid var(--gray);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.employee-details select option[value=""][disabled] {
    display: none;
}


.employee-details textarea {
    width: 28.5rem;
    /* width: max-content; */
    height: 10rem;
    resize: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--gray);
}


.employee-details input[type=text]:focus,
.employee-details select:focus,
.employee-details textarea:focus {
    border: 1px solid var(--outline);
}

.form-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.form-buttons button {
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
}

.cancel-button {
    border: none;
    outline: none;
    background: var(--background);
    color: red;
    cursor: pointer;
}

.submit-button {
    border: none;
    outline: none;
    background: var(--click);
    color: var(--white);
    cursor: pointer;
}

.edit-button {
    border: none;
    outline: none;
    background: var(--click);
    color: var(--white);
    cursor: pointer;
}

.save-button {
    border: none;
    outline: none;
    background: var(--click);
    color: var(--white);
    cursor: pointer;
}

.error {
    color: red;
}

.alert {
    border: 1px solid red !important;
}

/* multiselect */
.searchEmployee {
    display: flex;
    width:45%;
    gap: 3rem;
    background-color: white;
    border: 1px solid var(--gray);
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
}

.add-role-downarrow {
    width: 1rem !important;
    height: 1rem !important;
}

.asssign-employees-container {
    display: none;
    flex-direction: column;
    width:45%;
    background-color: white;
    padding: 0.5rem;
    border-radius: 3px;
    gap: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.assign-employee-details img {
    width: 1rem;
    height: 1rem;
}

.assign-employee {
    display: flex;
    justify-content: space-between;
}

.assign-employee-details {
    display: flex;
    gap: .1rem;
    font-weight: 500;
    font-size: 13.5px;
}


/* @media  screen and (max-width:1200px) {
    #side-nav{
        display:none;
        position:fixed;
       z-index:1;
       height:100%;
    }

    .install{
        display: none;
    }
    .main-content{
        margin-left:0.05rem;
    }
    .all,#role-heading{
        display:none;
    }
    .roles{
        background-color:transparent;
    }
    .filter-section{
       row-gap:1rem;
    }
    .dropdown{
        width:40%;
    }
    .profile-name{
        display: none;
    }
    .details-card {
        width:40%;
    }
    .color{
        display:none;
    }
}
@media  screen and (max-width:900px) {
    .details-card{
        width:38%;
    }
    #hamburger-menu{
        display:block;
    }
}
@media  screen and (max-width:700px) {
    .details-card{
        width:35%;
    }
}
@media  screen and (max-width:550px) {
    .details-card{
        width:30%;
    }
}
@media  screen and (max-width:450px) {
    
    .card-content{
        width:80%;
    }
    .details-card{
        width:100%;
    }
} */
@media screen and (max-width:700px) {
    .details-card {
        width: 90%;
    }

    ;
}

@media screen and (max-width:400px) {
    .add-employee-box {
        width: 14rem;
    }

    ;
}